
NET "LED<7>" LOC = "F9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<6>" LOC = "E9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<5>" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<4>" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<3>" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<2>" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<1>" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "LED<0>" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "CLK_IN" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

NET "BUTTON" LOC = "V4"  | IOSTANDARD = LVTTL | PULLDOWN ;

NET "SW<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW<2>" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;

NET "R<2>"      LOC = "D5" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "R<1>"      LOC = "A4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "R<0>"      LOC = "B4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET "G<2>"      LOC = "F8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "G<1>"      LOC = "C7" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "G<0>"      LOC = "D7" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;


#NET "G<2>"      LOC = "B6" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET "G<1>"      LOC = "A6" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET "G<0>"      LOC = "C5" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;


NET "B<1>"      LOC = "F7" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "B<0>"      LOC = "E7" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET "H_SYNC" LOC = "B6" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "V_SYNC" LOC = "A6" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;