NET "CLK_IN" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

NET "BUTTONS<0>" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "BUTTONS<1>" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;

NET "R<2>"      LOC = "D5" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "R<1>"      LOC = "A4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "R<0>"      LOC = "B4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET "G<2>"      LOC = "C5" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "G<1>"      LOC = "B6" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "G<0>"      LOC = "A6" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET "B<1>"      LOC = "E8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "B<0>"      LOC = "F8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET "H_SYNC" LOC = "D7" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "V_SYNC" LOC = "C7" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;